.formField {
    display: flex;
    width: 30%;
    border-right: 1px solid rgba(255, 0, 0, .5);
    flex-direction: column;
    font-size: small;
    padding: 0 50px 0px 0px;
}

button:hover {
    background-color: #ee82ee;
}