.btnChat {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 1%;
    width: 17%;
    justify-content: center;
    background-color: #000000;
    color: #B9B9B9;
    padding: 5px;
    cursor: pointer;
}

.contentConv {
    height: 56%;
    width: 100%;
    font-size: x-small;
}

.contentChat {
    display: flex;
    position: fixed;
    bottom: 5%;
    height: 35%;
    right: 2%;
    width: 15%;
    justify-content: center;
    padding: 5px;
    border: 1px solid;
    box-shadow: 2px 0px 4px 0;
    visibility: hidden;
}

.btnSend {
    display: flex;
    position: absolute;
    bottom: 5%;
}

.datetime {
    color: #8fbc8f;
}

.inputMessage {
    position: absolute;
    display: flex;
    width: 90%;
    bottom: 30%;
    border-bottom: 1px solid;
    font-size: x-small;
    word-break: break-all;
}

@keyframes openBox {
    0% {
        height: 0;
    }
    25% {
        height: 10%;
    }
    50% {
        height: 20%;
    }
    75% {
        height: 30;
    }
    100% {
        height: 35%;
    }
}

@keyframes closeBox {
    0% {
        height: 35%;
    }
    25% {
        height: 30%;
    }
    50% {
        height: 20%;
    }
    75% {
        height: 10%;
    }
    100% {
        height: 0;
    }
}

.btnChat:hover {
    background-color: #800000;
}